<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a17031741_hagiahuy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.17031741_hagiahuy">
        <activity
            android:name=".ThongKePhieuNhapXuat"
            android:exported="true" />
        <activity
            android:name=".PhieuXuatKhoActivity"
            android:exported="true" />
        <activity
            android:name=".PhieuNhapKhoActivity"
            android:exported="true" />
        <activity
            android:name=".XemKhoActivity"
            android:exported="true" />
        <activity
            android:name=".KhoActivity"
            android:exported="true" />
        <activity
            android:name=".XemDanhSachHangHoa"
            android:exported="true" />
        <activity
            android:name=".HangHoaActivity"
            android:exported="true" />
        <activity
            android:name=".XemDanhSachNhomHangHoa"
            android:exported="true" />
        <activity
            android:name=".NhomHangHoaAcitivty"
            android:exported="true" />
        <activity
            android:name=".NhanVienActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNangApp"
            android:exported="true" />
        <activity
            android:name=".DangKy"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>